# Introdução

Nesse estudo, nossa meta é mergulhar fundo nas relações que existem entre as caracteristicas fisicas de um imóvel, como metragem e número de cômodos, com seu preço e localização. A ideia é entender, principalmente, o que está por trás dos preços dos imóveis de São paulo, uma das metrópoles mais agitadas e desafiadoras do Brasil. Os dados aqui analisados foram baixados na plataforma do Kaggle, bastante popular por suas competições de machine learning, e foram originadas de uma raspagem no site do Quinto Andar, em março de 2023.

A análise aqui apresentada discute as variáveis citadas acima e explora o quanto, e como, eleas influenciam tanto no preço de aluguel quanto o preço total de um imóvel, com encargos adicionais(não especificados no Kaggle). Buscaremos entender, por exemplo, como a localização de um imóvel em determinado bairro pode impactar no seu preço de aluguel. Além disso, investigaremos a relevância de outras caracteristicas fisicas do imóvel, como o tamanho em metros quadrados, a quantidade de banheiros e quartos, entre outros, na determinação do seu valor total de venda ou aluguel. Também vamos identificar os bairros mais baratos e mais caros da cidade.

Este estudo foi feito apenas com o intuito de aprendizado, já que não sabemos se o dataset está enviesado de qualquer forma, com algum tipo de lacuna ou mesmo erros, já que não temos nenhum processo de validação.

Então seja bem-vindo à nossa jornada explóratoria pelo mercado imobiliario de São Paulo.

Link para o dataset: https://www.kaggle.com/datasets/renatosn/sao-paulo-housing-prices

Definição das colunas da tabela:
 - Endereço: O endereço do imóvel
 - Bairro: O bairro onde o imóvel está localizado
 - Área: Área do imóvel em metros quadrados
 - Quartos: O número de quartos no imóvel
 - Garagem: O número de vagas de estacionamento disponíveis no imóvel
 - Aluguel: O aluguel mensal do imóvel
 - Tipo: O tipo do imóvel(apartamento, casa, etc.) 
 - Total: O custo do imóvel, incluindo aluguel, impostos e outras taxas.

# Importando bibliotecas

In [10]:
# Bibliotecas para tratar dados
import pandas as pd
import numpy as np

# Bibliotecas para EDA
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

# Configurar para não exibir warnings
import warnings
warnings.filterwarnings("ignore")

# Configurar o estilo de gráfico do ggplot
plt.style.use("ggplot")

# Configurar para exbir até 15 linhas de um dataframe do pandas
pd.set_option("display.max_rows", 15)

# Configurar para exibir todas as colunas de um dataframe do pandas
pd.set_option("display.max_columns", None)

# Configurar quebras de espaçamento automáticas com nb_black
# %load_ext nb_black

# Carregando dataset

In [5]:
aptos = pd.read_csv("data/data.csv")
aptos.head()

,address,district,area,bedrooms,garage,type,rent,total
0,Rua Herval,Belenzinho,21,1,0,Studio e kitnet,2400,2939
1,Avenida São Miguel,Vila Marieta,15,1,1,Studio e kitnet,1030,1345
2,Rua Oscar Freire,Pinheiros,18,1,0,Apartamento,4000,4661
3,Rua Júlio Sayago,Vila Ré,56,2,2,Casa em condomínio,1750,1954
4,Rua Barata Ribeiro,Bela Vista,19,1,0,Studio e kitnet,4000,4654